<div *ngIf="!showOtp">
  <mat-tab-group class="otp-form" animationDuration="0ms" mat-stretch-tabs>
    <ng-container *ngFor="let tab of tabs">
      <mat-tab>
        <ng-template mat-tab-label>
          <ng-container
            *ngTemplateOutlet="
              headerTemplate;
              context: { icon: tab.icon, label: tab.label }
            "
          ></ng-container>
        </ng-template>
        <ng-template matTabContent>
          <ng-container
          *ngTemplateOutlet="contentTemplate; context: { $implicit: tab.type }"
          ></ng-container>
        </ng-template>
      </mat-tab>
    </ng-container>
  </mat-tab-group>

  <ng-template #headerTemplate let-icon="icon" let-label="label">
    <section class="tab-label">
      <mat-icon>{{ icon }}</mat-icon>
      <span> Use {{ label }} </span>
    </section>
  </ng-template>

  <ng-template #contentTemplate let-type>
    <section class="tab-content">
      <to-contact-form [type]="type"></to-contact-form>
    </section>
  </ng-template>
</div>

<div *ngIf="showOtp">
  <form (ngSubmit)="onOTPSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>OTP</mat-label>
      <input matInput [formControl]="otpForm" placeholder="Enter OTP" />
      <!-- <mat-error *ngIf="otpForm.controls.otp.errors?.required">OTP is required</mat-error> -->
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="otpForm.invalid"
    >
      Submit
    </button>
  </form>
</div>

