div {
  height: 100%;
}

mat-tab-group.otp-form {
  height: 100%;
}
::ng-deep div.mat-mdc-tab {
  height: 64px !important;
}

::ng-deep div.mat-mdc-tab-body-wrapper {
  height: 100%;
}

section.tab-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  span {
    font-size: 14px;
  }
}

section.tab-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  gap: 16px;

  span {
    flex: .5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}
