<div *ngIf="!showOtp">
  <mat-tab-group class="otp-form" animationDuration="0ms" mat-stretch-tabs>
    <mat-tab>
      <ng-template mat-tab-label>
        <ng-container
          *ngTemplateOutlet="
            headerTemplate;
            context: { icon: 'sms', label: 'SMS' }
          "
        ></ng-container>
      </ng-template>
      <section class="tab-content">
        <to-contact-form [type]="phoneOtp"></to-contact-form>
      </section>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <ng-container
          *ngTemplateOutlet="
            headerTemplate;
            context: { icon: 'mail', label: 'Email' }
          "
        ></ng-container>
      </ng-template>
      <section class="tab-content">
        <to-contact-form  [type]="emailOtp"></to-contact-form>
      </section>
    </mat-tab>
  </mat-tab-group>
</div>

<div *ngIf="showOtp">
  <form (ngSubmit)="onOTPSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>OTP</mat-label>
      <input matInput [formControl]="otpForm" placeholder="Enter OTP" />
      <!-- <mat-error *ngIf="otpForm.controls.otp.errors?.required">OTP is required</mat-error> -->
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="otpForm.invalid"
    >
      Submit
    </button>
  </form>
</div>

<ng-template #headerTemplate let-icon="icon" let-label="label">
  <section class="tab-label">
    <mat-icon>{{ icon }}</mat-icon>
    <span> Use {{ label }} </span>
  </section>
</ng-template>
