@use "variables" as main;

div,
section {
  height: 100%;
}

::ng-deep mat-stepper.otp-form-stepper {
  height: 100%;

  div.mat-horizontal-stepper-header-container {
    display: none;
  }

  div.mat-horizontal-stepper-wrapper {
    height: 100% !important;
    div.mat-horizontal-content-container {
      padding: 0px;
    }
  }

  div.otp-step {
    height: 460px;
  }

  mat-tab-group.contact-form-tab-group {
    height: 100%;

    div.mat-mdc-tab {
      height: main.spacing(10) !important;
    }

    div.mdc-tab--active {
      background-color: main.primary(50);
    }

    div.mat-mdc-tab-body-wrapper {
      height: 100%;
    }

    section.tab-label {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: main.spacing(1)
    }
  }
}
