<mat-card [style.background-image]="'url(' + vacation.imageUrl + ')'">
  <mat-card-header>
    <div mat-card-avatar>
      <to-vacation-button
        (changed)="onSelectChanged($event)"
        [selected]="isSelected()"
      ></to-vacation-button>
    </div>
    <mat-card-title>{{ vacation.destination }}</mat-card-title>
    <!-- <mat-card-subtitle>{{vacation.takeoff | dateTimestampPipe}}</mat-card-subtitle> -->
  </mat-card-header>
  <div>
    {{ vacation.takeoff | dateTimestampPipe}}
  </div>
</mat-card>
