<mat-card>
  <mat-card-header class="center-header">
    <img
      ngSrc="../../../assets/images/logo2.png"
      width="60"
      height="60"
      priority
      alt="logo" />
  </mat-card-header>

  <mat-card-content>
    <to-divider-header label="Sign In"></to-divider-header>
    <div class="login-form-wrapper">
      <form
        [formGroup]="loginFormGroup"
        (ngSubmit)="onSubmit(loginFormGroup.value)">
        <to-form-input
          [control]="loginFormGroup.get('email')"
          key="email"
          [label]="'email' | titlecase"
          [errorsMap]="errorsMap">
        </to-form-input>

        <to-form-input
          [control]="loginFormGroup.get('password')"
          key="password"
          [label]="'password' | titlecase">
        </to-form-input>

        <button
          class="login-btn"
          mat-raised-button
          type="submit"
          color="primary"
          [disabled]="!loginFormGroup.valid">
          Login
        </button>
      </form>

      <to-divider-header label="or"></to-divider-header>

      <section class="social-login-wrapper">
        <button
          mat-stroked-button
          class="google-btn"
          [disableRipple]="true"
          (click)="oGoogleSignIn()">
          <mat-icon svgIcon="google" class="google-icon"></mat-icon>
          Continue with Google
        </button>
        <!-- <button
        mat-raised-button
        [disableRipple]="true"
        color="accent"
        (click)="onEmailLinkSignIn()">
        Sign in with Email Link
      </button> -->

        <section class="forget-btn">
          <button
            [disableRipple]="true"
            mat-button
            type="button"
            (click)="onForgetPassword()">
            Forget your password ?
          </button>
        </section>
      </section>
    </div>
  </mat-card-content>
</mat-card>
