.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

mat-card {
  width: 50%;

  mat-card-header {
    display: flex;
    justify-content: center;

    img {
      border-radius: 50%;
    }
  }

  form,
  footer {
    display: flex;
    justify-content: center;
  }
}

div.login-form-wrapper {
  padding: 0 16px;
}
form {
  flex-direction: column;
  padding: 16px 0;

  mat-form-field {
    width: 100%;
  }
}

section.divider {
  display: flex;
  justify-content: center;
  align-items: center;

  mat-divider {
    width: 100%;
  }

  span {
    margin: 8px;
    flex-shrink: 0;
    text-align: center;
  }
}

button.login-btn {
  width: 100%;
  // background-color: black;
  // color: white;
}

section.forget-btn {
  width: 100%;
  display: flex;
  justify-content: center;

  button {
    text-decoration: underline;
  }
}

footer {
  flex-direction: column;
  padding: 0 16px;

  button {
    margin: 8px 0;


  }

}

button.google-btn {
  background-color: #4285f4;
  color: white;
  height: 50px;
  padding: 0 15px;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  font-size: 14px;
  letter-spacing: 0.21px;
  font-weight: 500;
}

.google-btn:hover {
  box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
  transition: box-shadow 0.218s;
}

mat-icon.google-icon {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
