@use "variables" as main;

mat-card-header {
  justify-content: center;
}

div.login-form-wrapper {
  padding: 0 main.spacing(2);
}

section.divider {
  display: flex;
  justify-content: center;
  align-items: center;

  mat-divider {
    width: 100%;
  }

  span {
    margin: main.spacing(1);
    flex-shrink: 0;
    text-align: center;
  }
}

section.social-login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: main.spacing(2) 0;
  gap: main.spacing(2);
}

section.forget-btn {
  width: 100%;
  display: flex;
  justify-content: center;

  button {
    text-decoration: underline;
  }
}

form {
  display: flex;
  flex-direction: column;
  padding: main.spacing(2) 0;

  mat-form-field {
    width: 100%;
  }
}

button.google-btn {
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.21px;
  font-weight: bold;
}

mat-icon.google-icon {
  margin-right: main.spacing(2);
}
