@use "variables" as main;


div.vacation-list-wrapper {
  padding: main.spacing(2);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: main.spacing(3);

  section.vacation-card-wrapper {
    width: 24%;
  }
}
