// _color-palettes.scss

$plt-primary: (
  50: #ffeef4,
  100: #ffd6e3,
  200: #ffbad0,
  300: #ff9ebd,
  400: #ff8aae,
  500: #ff75a0,
  600: #ff6d98,
  700: #ff628e,
  800: #ff5884,
  900: #ff4573,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffecf1,
  A700: #ffd3dd,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$plt-accent: (
  50: #f5f1f2,
  100: #e6dbdd,
  200: #d5c4c7,
  300: #c4acb1,
  400: #b79aa0,
  500: #aa888f,
  600: #a38087,
  700: #99757c,
  800: #906b72,
  900: #7f5860,
  A100: #ffeaee,
  A200: #ffb7c5,
  A400: #ff849c,
  A700: #ff6a87,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// $primary-palette: map.merge($plt-primary, map.get($plt-primary, 'contrast'));
// $accent-palette: map.merge($plt-accent, map.get($plt-accent, 'contrast'));

@function primary-palette() {
  @return $plt-primary;
}

@function accent-palette() {
  @return $plt-accent;
}
