@use "color-palettes" as palettes;

$colors: (
  primary: #ffc107,
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 840px,
  lg: 992px,
  xl: 1200px,
);

@function primary($code) {
  @return map-get(palettes.primary-palette(), $code);
}

@function accent($code) {
  @return map-get(palettes.accent-palette(), $code);
}

@function spacing($padding) {
  @return $padding * 8px;
}

@function size($breakpoints) {
  @return map-get($grid-breakpoints, $breakpoints);
}

@mixin flex-center($direction: row, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  gap: $gap;
}
