<div class="reset-page-wrapper">
  <div class="reset-wrapper">
    @if(showNewPassword()) {
    <to-reset-password-form
      (resetPassword)="onResetPassword($event)"></to-reset-password-form>
    } @else {
    <to-reset-contact-form
      (resetEmail)="onResetEmail($event)"></to-reset-contact-form>
    <to-card-button
      class="front"
      [routerLink]="'/register'"
      label="Don't have an account?"
      boldLabel="Sign up"></to-card-button>

    }
  </div>
</div>

<!-- http://localhost:4200/reset?mode=resetPassword&oobCode=nn-n7nG0uDqVLs8BYT8Ap414HwREGzXHZwfwwtMNxSEAAAGOMahD1g&apiKey=AIzaSyAWE61Vm0CpfUtHq4G48aJVMbdY6REEtrA&lang=en -->
