@use "variables" as main;

mat-card {
  padding: main.spacing(2);

  mat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: main.spacing(3);

    section {
      display: flex;
      justify-content: center;
      width: 100%;

      mat-icon {
        scale: 1.5;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: main.spacing(3);
    }
  }
}
