<mat-card>
  <img mat-card-image [ngSrc]="vacation.imageUrl" height="300" width="1" alt="alternative"/>

  <mat-card-header>
    <mat-card-title
      >{{ vacation.destination.city }},
      {{ vacation.destination.country }}</mat-card-title
    >
    <mat-card-subtitle>{{
      vacation.price | currency : "USD" : "symbol" : "1.0-0"
    }}</mat-card-subtitle>
    <to-places-button
      (changed)="onSelectedChanged($event)"
      [selected]="isSelected()"
    ></to-places-button>
  </mat-card-header>
  <mat-card-content>
    <section class="schedule">
      <span>
        <b>Takeoff:</b>
        {{ vacation.takeoff | dateTimestampPipe : "EEEE, MMMM d, h:mm a" }}
      </span>
      <span>
        <b>Landing:</b>
        {{ vacation.landing | dateTimestampPipe : "EEEE, MMMM d, h:mm a" }}
      </span>
    </section>
  </mat-card-content>
  <mat-card-footer></mat-card-footer>
</mat-card>
