@use "variables" as main;

:host {
  div {
    height: 100%;
  }

  div.login-wrapper {
    background-image: url("../../../assets/images/backgrounds/login.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
    grid-template-columns: 1fr 0.6fr;

    div.login-form-card {
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: main.spacing(2);
      background-color: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(10px);
    }
  }
}
