<div class="login-container">
  <div class="login-wrapper">
    <div class="login-card">
      <pre>
      some text
        {{ user() | json }}
      </pre>
    </div>
    <div class="login-form">
      <to-floating-button
        [label]="'Sign-Up'"
        [navigation]="'/register'"
      ></to-floating-button>
      <to-flip-card>
        <to-login-form (googleSignIn)="onGoogleSignIn($event)" (emailAndPasswordSignIn)="onEmailAndPasswordSignIn($event)" class="front"> </to-login-form>
        <to-login-otp-form class="back"> </to-login-otp-form>
      </to-flip-card>
    </div>
  </div>
</div>
