<div class="login-wrapper">
  <div class="login-info-card"></div>
  <div class="login-form-card">
    <!-- <to-floating-button
      [label]="'Register'"
      [routerLink]="'register'"></to-floating-button> -->

    <to-flip-card [height]="540">
      <to-login-form
        class="front"
        [serverError]="serverError()"
        (login)="onSignIn($event)"
        (google)="onSignIn($event)"
        (otp)="onOtpSignIn($event)"
        (emailLink)="onEmailLinkSignIn($event)"
        (forget)="onForgetPassword()">
      </to-login-form>

      <ng-container class="back" *ngIf="optFlag()">
        <to-login-otp-form
          (otpSignIn)="onSignIn($event)"
          (signInWithEmailAndPassword)="onEmailAndPassword()">
        </to-login-otp-form>
      </ng-container>

      <ng-container class="back" *ngIf="!optFlag()">
        <to-email-link-form
          (emailLinkSignIn)="onEmailLink($event)"></to-email-link-form>
      </ng-container>
    </to-flip-card>
    <to-flip-card [height]="100">
      <to-register-card class="front"> </to-register-card>
    </to-flip-card>
  </div>
</div>
