<div class="login-wrapper">
  <div class="login-card"></div>
  <div class="login-form">
    <to-floating-button
      [label]="'Register'"
      [routerLink]="'register'"></to-floating-button>

    <to-flip-card>
      <to-login-form
        class="front"
        [serverError]="serverError()"
        (login)="onSignIn($event)"
        (google)="onSignIn($event)"
        (otp)="onOtpSignIn($event)"
        (emailLink)="onEmailLinkSignIn($event)"
        (forget)="onForgetPassword($event)">
      </to-login-form>
      <ng-container class="back" *ngIf="optFlag()">
        <to-login-otp-form
          (otpSignIn)="onSignIn($event)"
          (signInWithEmailAndPassword)="onEmailAndPassword()">
        </to-login-otp-form>
      </ng-container>
      <ng-container class="back" *ngIf="!optFlag()">
        <to-email-link-form
          (emailLinkSignIn)="onEmailLink($event)"></to-email-link-form>
      </ng-container>
    </to-flip-card>
  </div>
</div>
