@use "variables" as main;

:host {
  div.register-page-wrapper {
    height: 100%;
    background-image: url("../../../assets/images/backgrounds/register.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div.register-wrapper {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: main.spacing(2);
  }
}
