:host {
  div {
    height: 100%;
  }

  div.register-wrapper {
    background-image: url("../../../assets/images/backgrounds/register.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

span {
  font-size: 20px;
  color: #fff;
}
