@use "variables" as main;

.mat-mdc-card.login-form {

  mat-card-header {
    @include main.flexLayout(column, center, none);

    img {
      align-self: center;
    }
  }

  .mat-mdc-card-content.login-form-wrapper {
    padding: 0 main.spacing(4);

    form {
      @include main.flexLayout(column, center, none, 3);
      padding: main.spacing(2) 0;

      mat-form-field {
        width: 100%;
      }
    }

    section.actions-buttons-wrapper {
      @include main.flexLayout(column, center, none, 2);
      padding: main.spacing(2) 0;

      button.google-btn {
        @include main.flexLayout(row, center, none);
        border-radius: 50px;
        letter-spacing: 0.21px;

        mat-icon.google-icon {
          margin-right: main.spacing(2);
        }
      }

      button.forget-btn {
        text-decoration: underline;
      }
    }
  }
}
