<mat-card class="reset-password-form">
  <mat-card-content>
    <to-divider-header label="Reset Password"></to-divider-header>
    <section>
      <mat-icon color="primary" fontIcon="password"></mat-icon>
    </section>

    <form
      [formGroup]="resetPasswordFormGroup"
      (ngSubmit)="onSubmit(resetPasswordFormGroup.value)">
      @for (key of formKeys(); track key) {

      <to-form-input
        [control]="resetPasswordFormGroup.get(key)"
        [key]="key"
        [label]="'new password' | titlecase">
      </to-form-input>
      }

      <button
        class="login-btn"
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="!resetPasswordFormGroup.valid">
        {{ "reset" | titlecase }}
      </button>
    </form>
  </mat-card-content>
</mat-card>
