div {
  height: 100%;
}

div.places-wrapper {
  background-image: url("../../../assets/images/backgrounds/user.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;

  header {
    flex: 0.3;
  }
}
