@if (place()) {
<mat-card>
  <img
    mat-card-image
    [ngSrc]="place().imageUrl"
    height="750"
    width="1125"
    priority
    alt="alternative" />

  <mat-card-header>
    <mat-card-title
      >{{ place().destination.city }},
      {{ place().destination.country }}</mat-card-title
    >
    <mat-card-subtitle>{{
      place().price | currency : "USD" : "symbol" : "1.0-0"
    }}</mat-card-subtitle>
    <to-place-card-button
      (changed)="onSelectedChanged($event)"
      [selected]="selected()"></to-place-card-button>
  </mat-card-header>
  <mat-card-content>
    <section class="schedule">
      <span>
        <b>Takeoff:</b>
        {{ place().takeoff | dateTimestampPipe : "EEEE, MMMM d, h:mm a" }}
      </span>
      <span>
        <b>Landing:</b>
        {{ place().landing | dateTimestampPipe : "EEEE, MMMM d, h:mm a" }}
      </span>
    </section>
  </mat-card-content>
  <mat-card-footer></mat-card-footer>
</mat-card>

}
