<header mat-dialog-title>
  <to-info-card
    icon="check_circle"
    text="Password Reset Successful"></to-info-card>
</header>

<mat-divider></mat-divider>

<main mat-dialog-content>
  <p>You can now use your new password to log in to your account.</p>
  <p>
    If you encounter any issues or did not request a password reset, please
    contact our support team immediately.
  </p>
</main>

<footer mat-dialog-actions>
  <button
    (click)="onLogIn()"
    color="accent"
    mat-flat-button
    mat-dialog-close
    cdkFocusInitial>
    Log In
  </button>
</footer>
