<mat-card class="reset-contact-form">
  <mat-card-content>
    <to-divider-header label="Enter Contact"></to-divider-header>
    <section>
      <mat-icon color="primary" fontIcon="attach_email"></mat-icon>
    </section>

    <form
      [formGroup]="resetFormGroup"
      (ngSubmit)="onSubmit(resetFormGroup.value)">
      @for (key of formKeys(); track key) {

      <to-form-input
        [control]="resetFormGroup.get(key)"
        [key]="key"
        [label]="key | titlecase">
      </to-form-input>
      }

      <button
        class="login-btn"
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="!resetFormGroup.valid">
        Send Link
      </button>
    </form>
  </mat-card-content>
</mat-card>
