<mat-card>
  <mat-card-content>
    <to-divider-header label="Register"></to-divider-header>
    <form
      [formGroup]="registerFormGroup"
      (ngSubmit)="onSubmit(registerFormGroup.value)">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input autocomplete="off" formControlName="email" matInput />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input autocomplete="off" formControlName="password" matInput />
        <!-- <mat-error>{{ registerFormGroup.errors["password"] | json }}</mat-error> -->
      </mat-form-field>

      <button
        class="login-btn"
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="!registerFormGroup.valid">
        Register
      </button>
    </form>
  </mat-card-content>
</mat-card>
