@use "variables" as main;

div.register-page-wrapper {
  display: flex;
  flex-direction: column;
  gap: main.spacing(2);
}

mat-card {
  padding: main.spacing(2);

  mat-card-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
