@use "variables" as main;

mat-card {
  padding: main.spacing(2);
  height: 100%;

  mat-card-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
